/* Raleway black */
@font-face {
  font-family: "Raleway";
  src: url("/static/fonts/Raleway-Black.woff2") format("woff2"),
    url("/static/fonts/Raleway-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Raleway black italic */
@font-face {
  font-family: "Raleway";
  src: url("/static/fonts/Raleway-BlackItalic.woff2") format("woff2"),
    url("/static/fonts/Raleway-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* Raleway bold */
@font-face {
  font-family: "Raleway";
  src: url("/static/fonts/Raleway-Bold.woff2") format("woff2"),
    url("/static/fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Raleway bold italic */
@font-face {
  font-family: "Raleway";
  src: url("/static/fonts/Raleway-BoldItalic.woff2") format("woff2"),
    url("/static/fonts/Raleway-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Raleway extra-bold */
@font-face {
  font-family: "Raleway";
  src: url("/static/fonts/Raleway-ExtraBold.woff2") format("woff2"),
    url("/static/fonts/Raleway-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Raleway extra-bold italic */
@font-face {
  font-family: "Raleway";
  src: url("/static/fonts/Raleway-ExtraBoldItalic.woff2") format("woff2"),
    url("/static/fonts/Raleway-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Raleway extralight */
@font-face {
  font-family: "Raleway";
  src: url("/static/fonts/Raleway-ExtraLight.woff2") format("woff2"),
    url("/static/fonts/Raleway-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Raleway extralight italic */
@font-face {
  font-family: "Raleway";
  src: url("/static/fonts/Raleway-ExtraLightItalic.woff2") format("woff2"),
    url("/static/fonts/Raleway-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Raleway  italic */
@font-face {
  font-family: "Raleway";
  src: url("/static/fonts/Raleway-Italic.woff2") format("woff2"),
    url("/static/fonts/Raleway-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Raleway light */
@font-face {
  font-family: "Raleway";
  src: url("/static/fonts/Raleway-Light.woff2") format("woff2"),
    url("/static/fonts/Raleway-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Raleway light italic */
@font-face {
  font-family: "Raleway";
  src: url("/static/fonts/Raleway-LightItalic.woff2") format("woff2"),
    url("/static/fonts/Raleway-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Raleway medium */
@font-face {
  font-family: "Raleway";
  src: url("/static/fonts/Raleway-Medium.woff2") format("woff2"),
    url("/static/fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Raleway medium italic */
@font-face {
  font-family: "Raleway";
  src: url("/static/fonts/Raleway-MediumItalic.woff2") format("woff2"),
    url("/static/fonts/Raleway-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Raleway regular */
@font-face {
  font-family: "Raleway";
  src: url("/static/fonts/Raleway-Regular.woff2") format("woff2"),
    url("/static/fonts/Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Raleway semi-bold */
@font-face {
  font-family: "Raleway";
  src: url("/static/fonts/Raleway-SemiBold.woff2") format("woff2"),
    url("/static/fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Raleway semi-bold italic */
@font-face {
  font-family: "Raleway";
  src: url("/static/fonts/Raleway-SemiBoldItalic.woff2") format("woff2"),
    url("/static/fonts/Raleway-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Raleway thin */
@font-face {
  font-family: "Raleway";
  src: url("/static/fonts/Raleway-Thin.woff2") format("woff2"),
    url("/static/fonts/Raleway-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Raleway thin italic */
@font-face {
  font-family: "Raleway";
  src: url("/static/fonts/Raleway-ThinItalic.woff2") format("woff2"),
    url("/static/fonts/Raleway-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
