{% load static wagtailcore_tags wagtailimages_tags %}{% image self.background width-2048 as background %}
<section id="uk-hero" class="pt-24 pb-24 mb-22"
    style="background: center / cover no-repeat url('{% get_media_prefix %}{{ background.file }}');">
    <h1 data-aos="fade-up"
        class="mt-8 md:mt-24 title font-bold uppercase text-center text-2xl md:text-4xl lg:text-8xl text-white mb-8 mx-20 lg:mx-[20vw]">{{ self.title }}</h1>
    {% if self.start_date %}
    <p data-aos="fade-up" data-aos-delay="500"
        class="description my-12 text-xl lg:text-3xl font-bold text-center text-white animated">
        <time datetime="{{ self.start_date }}">{{ self.dates }}</time> — {{ self.location }}
    </p>
    {% endif %}

    {% if not self.started %}
        <div class="text-center my-12" data-aos="fade-up" data-aos-delay="900">
            {% if self.call_to_action.page %}
                <a href="{% pageurl self.call_to_action.page %}" class="btn btn-info text-white btn-xl uppercase">{{ self.call_to_action.text }}</a>
            {% elif self.call_to_action.url %}
                <a href="{{ self.call_to_action.url }}" class="btn btn-info text-white btn-xl uppercase" target="_blank"
                rel="noopener noreferrer">{{ self.call_to_action.text }}</a>
            {% endif %}
        </div>
    {% endif %}

    {% if not self.started and self.start_date %}
    <div class="countdown-wrap-layout" data-aos="fade-up" data-aos-delay="1300">
            <div class="countdown-container flex-col lg:flex-row justify-evenly">
                <div class="countdown-heading">
                    {% if self.countdown.subtitle %}<div class="sub-title mb-1 text-xl">{{ self.countdown.subtitle }}</div>{% endif %}
                    <h2 class="title text-2xl lg:text-4xl font-bold">{{ self.countdown.title }}</h2>
                </div>
                <div class="event-countdown" data-countdown="{{ self.start_date|date:"SHORT_DATE_FORMAT" }}T12:00:00+02:00">
                    <div class="countdown-section">
                        <div class="value weeks">&nbsp;</div>
                        <div class="unit">semajnoj</div>
                    </div>
                    <div class="countdown-section">
                        <div class="value days">&nbsp;</div>
                        <div class="unit">tagoj</div>
                    </div>
                    <div class="countdown-section">
                        <div class="value hours">&nbsp;</div>
                        <div class="unit">horoj</div>
                    </div>
                    <div class="countdown-section">
                        <div class="value minutes">&nbsp;</div>
                        <div class="unit">minutoj</div>
                    </div>
                    <div class="countdown-section">
                        <div class="value seconds">&nbsp;</div>
                        <div class="unit">sekondoj</div>
                    </div>
                </div>
            </div>
    </div>
    {% endif %}
</section>
