<!-- Preloader Start -->
<div class="preloader fixed z-[99999] flex items-center justify-center bg-white inset-0">
    <div class="loader w-[50px] aspect-[1] grid [transform:translateZ(1px)] before:hue-rotate-[45deg] before:bg-[8px_8px] before:m-1 before:content-[&quot;&quot;] before:animate-[l12_1s_infinite] before:!bg-size-[12px_12px] before:[grid-area:1/1] before:[--c:no-repeat_radial-gradient(farthest-side,#5033ff_92%,#0000)] before:[background:var(--c)_50%_0,var(--c)50%_100%,var(--c)100%_50%,var(--c)0_50%] after:content-[&quot;&quot;] after:animate-[l12_1s_infinite] after:!bg-size-[12px_12px] after:[grid-area:1/1] after:[--c:no-repeat_radial-gradient(farthest-side,#5033ff_92%,#0000)] after:[background:var(--c)_50%_0,var(--c)50%_100%,var(--c)100%_50%,var(--c)0_50%] before:[animation-timing-function:linear]"></div>
</div>
<!-- Preloader End -->
