<!-- Scroll-top -->
<button class="scroll__top scroll-to-target w-[50px] h-[50px] flex items-center justify-center leading-[0] fixed bottom-[-10%] text-[16px] z-[99] text-white text-center cursor-pointer [transition:1s_ease] rounded-[50%] right-[50px] !bg-primary after:absolute after:z-[-1] after:content-[&quot;&quot;] after:h-2.5 after:w-[90%] after:opacity-100 after:left-[5%] after:top-full hover:text-white hover:!bg-secondary after:!bg-[radial-gradient(ellipse_at_center,rgba(0,0,0,0.25)0%,rgba(0,0,0,0)80%)] min-[992px]:max-[1199px]:right-[25px] min-[992px]:max-[1199px]:bottom-[25px] min-[768px]:max-[991px]:right-[30px] max-[575px]:w-[35px] max-[575px]:h-[35px] max-[575px]:text-sm max-[575px]:right-[15px]" data-target="html">
<i class="fa-sharp fa-regular fa-arrow-up"></i>
</button>
<!-- Scroll-top-end-->

