@import "tailwindcss";
@source "../backend/**/templates/**/*.{html,txt}";
@source "../backend/{apps,config}/**/*.py";

@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #5033ff;
  --color-secondary: #f248b4;
}

/* @layer theme {
  :root,
  :host {
    --font-sans: Raleway, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}
*/

/* @import "./css/photoswipe.css"; */
@import "./css/tables.css";
/* @import "./css/typography.css"; */
@import "./css/blocks/program-proposal.css";
@import "./css/blocks/timeline.css";

@layer utilities {
  .prose {
    font-family: var(--font-poppins);

    h1,
    h2,
    h3,
    h4 {
      font-family: var(--font-unbounded);
    }
  }
}

.responsive-object {
  position: relative;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
