CONFIG_PREFIX = UK_
UK_DEBUG = true
UK_SECRET_KEY = NESEKURA
UK_HOST = uk.localhost
UK_HOSTNAME = uk.localhost
UK_HOST = 0.0.0.0
UK_PORT = 8000
# SCHEME://USER:PASSWORD@HOST:PORT/DB_NAME parsed by dj-database-url
UK_DATABASE_URL = pgsql://uk:_@postgres:5432/uk
