{% load wagtailcore_tags evente_tags %}
{% partialdef subtitle %}
<span class="font-bold font-{{ value.font }} inline-block mb-[30px] px-5 py-1.5 text-[15px]
  {% if value.uppercase %}uppercase{% endif %}
  {% if value.style == 'flat' %}
    border rounded-md shadow-none {% tw_color value %} {% tw_color value 'bg' opacity=10 %} {% tw_color value 'border' %}
  {% elif value.style == 'elevated' %}
    pb-2 rounded-full shadow-[inset_0_-4px_0_0] shadow-black/40 text-white {% tw_color value 'bg' %}
  {% endif %}
">{{ value.text }}</span>
{% endpartialdef %}
{% partialdef title %}
  <h2 class="td-section-title font-semibold text-4xl leading-[125%] {% tw_color value %} min-[576px]:max-[767px]:text-3xl max-[575px]:text-3xl mb-[10px]">{{ value.text }}</h2>
{% endpartialdef %}
{% partialdef text %}
  <p class="td-section-text text-lg leading-7 {% tw_color value %} font-poppins">{{ value.text }}</p>
{% endpartialdef %}

<div class="text-center mb-[20px] mx-auto max-w-2xl wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.3s; animation-name: fadeInUp;">
  {% for block in self %}{% include_block block %}{% endfor %}
</div>
