{% load static wagtailcore_tags wagtailimages_tags %}
{% image self.bg_image width-1024 format-webp as bg %}
<section class="
  {{ self.css_classes }}
  {{ self.margin_top }}
  {{ self.margin_bottom }}
  {{ self.padding_top }}
  {{ self.padding_bottom }}
  {{ self.background_color }}
  {{ self.bg_position }}
  {{ self.bg_repeat }}
  {{ self.bg_size }}
"
  style="{{ self.css_style }}{% if self.bg_image %}background-image: url('{{ bg.url }}'){% endif %}"
>
  {% for block in self.content %}{% include_block block %}{% endfor %}
</section>
