{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}page{% endblock %}

{% block extra_css %} {{ block.super }}
.hero {
  background-image:
{% if page.header_image %} {% image page.header_image format-avif width-1024 as hero_image %}
    url('{{ hero_image.url }}'); {% else %}
    url('{% static "img/default_header_banner.avif" %}'); {% endif %}
}
{% endblock extra_css %}

{% block main %}
<main class="-mt-24 relative">

<section id="top" class="hero">
  <div class="hero-content text-center">
    <h1 class="heading-title">{{ page.title }}</h1>
    <nav class="breadcrumbs"></nav>
  </div>
</section>

<section class="content {% block content_class %}prose mt-24{% endblock %}">
{% block content %}
  {% include_block page.body %}
{% endblock content %}
</section>
</main>
{% endblock main %}

