{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}registration{% endblock %}

{% block content %}
  <div class="pt-24 w-full md:w-3/4 lg:w-1/2 mx-auto">
    <h2 class="pt-12 pb-24 text-center font-bold text-xl md:text-4xl">{{ page.title }}</h2>

    {{ page.body|richtext }}

    {{ page.raw_html|safe }}
  </div>
{% endblock content %}

{% block extra_css %}
<script type="module">
  import loadVue from '{% static "load-vue.js" %}';
  const INSTRUCTIONS = `
The "Raw html" field of this page should contain:
  <div id="vue-registration" data-entrypoint="registration.js"></div>
or
  <div id="vue-edit" data-entrypoint="edit.js"></div>`

  const mountpoint = document.querySelector("[data-entrypoint]")
  if (mountpoint !== null) {
    loadVue('{% get_static_prefix %}', mountpoint.dataset.entrypoint)
  } else {
    console.error(`Missing HTML tag for JS entrypoint. ${INSTRUCTIONS}`)
  }
  </script>
{% endblock %}
