{% load static %}
{% if "animate" not in exclude %} <link rel="stylesheet" href="{% static 'evente/assets/css/animate.min.css' %}"> {% endif %}
{% if "magnific" not in exclude %} <link rel="stylesheet" href="{% static 'evente/assets/css/magnific-popup.css' %}"> {% endif %}
{% if "fontawesome" not in exclude %} <link rel="stylesheet" href="{% static 'evente/assets/css/fontawesome-all.min.css' %}"> {% endif %}
{% if "flaticon" not in exclude %} <link rel="stylesheet" href="{% static 'evente/assets/css/flaticon_mycollection.css' %}"> {% endif %}
{% if "swiper" not in exclude %} <link rel="stylesheet" href="{% static 'evente/assets/css/swiper-bundle.min.css' %}"> {% endif %}
{% if "odometer" not in exclude %} <link rel="stylesheet" href="{% static 'evente/assets/css/odometer.css' %}"> {% endif %}
{% if "main" not in exclude %} <link rel="stylesheet" href="{% static 'evente/assets/css/main.css' %}"> {% endif %}
