{% load static %}
{% if "jquery" not in exclude %} <script src="{% static 'evente/assets/js/vendor/jquery.js' %}"></script> {% endif %}
{% if "bootstrap" not in exclude %} <script src="{% static 'evente/assets/js/bootstrap.min.js' %}"></script> {% endif %}
{% if "isotope" not in exclude %} <script src="{% static 'evente/assets/js/isotope.pkgd.min.js' %}"></script> {% endif %}
{% if "ion" not in exclude %} <script src="{% static 'evente/assets/js/ion.rangeSlider.min.js' %}"></script> {% endif %}
{% if "imagesloaded" not in exclude %} <script src="{% static 'evente/assets/js/imagesloaded.pkgd.min.js' %}"></script> {% endif %}
{% if "jquery" not in exclude %} <script src="{% static 'evente/assets/js/jquery.magnific-popup.min.js' %}"></script> {% endif %}
{% if "jquery" not in exclude %} <script src="{% static 'evente/assets/js/jquery.odometer.min.js' %}"></script> {% endif %}
{% if "jquery" not in exclude %} <script src="{% static 'evente/assets/js/jquery-appear.js' %}"></script> {% endif %}
{% if "swiper" not in exclude %} <script src="{% static 'evente/assets/js/swiper-bundle.min.js' %}"></script> {% endif %}
{% if "jarallax" not in exclude %} <script src="{% static 'evente/assets/js/Jarallax.js' %}"></script> {% endif %}
{% if "nice" not in exclude %} <script src="{% static 'evente/assets/js/nice-select.js' %}"></script> {% endif %}
{% if "ajax" not in exclude %} <script src="{% static 'evente/assets/js/ajax-form.js' %}"></script> {% endif %}
{% if "wow" not in exclude %} <script src="{% static 'evente/assets/js/wow.min.js' %}"></script> {% endif %}
{% if "main" not in exclude %} <script src="{% static 'evente/assets/js/main.js' %}"></script> {% endif %}
