{% load static wagtailcore_tags %}
<nav id="navbar"
  class="navbar z-1 bg-base-100 text-base-content sticky top-0 flex h-24 w-full justify-center transition-colors duration-300 print:hidden shadow-md bg-opacity-0 dark">
  <div class="navbar-start lg:justify-center">
    <a href="/"><img src="{% static 'img/brno2025.png' %}" alt="Universala Kongreso" class="h-18 ps-2"></a>
  </div>
  <div class="navbar-center">
    <div class="hidden lg:block">
      <ul class="menu menu-horizontal dark:text-white text-lg font-semibold uppercase">
        <li><a href="/">Ĉefpaĝo</a></li>
        <li><a href="/2025/">Aliĝilo</a></li>
        <li><a href="https://uea.org">UEA</a></li>
        <li><a href="https://iik.uea.org/2025/">Infana Kongreseto</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-end lg:justify-center">
    <a href="/2025/" class="btn btn-info text-white hidden md:flex mx-4 btn-xl uppercase">Aliĝi</a>
    <label for="drawer-menu" aria-label="open sidebar" class="btn btn-square btn-warning lg:hidden mx-4 btn-lg">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        class="inline-block h-6 w-6 stroke-current">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
        </path>
      </svg>
    </label>
  </div>
</nav>
