{% load static wagtailcore_tags navigation_tags %}
{% wagtail_site as site %}
{% pageurl site.root_page as root_url %}
<label for="drawer-menu" aria-label="close sidebar" class="drawer-overlay"></label>
<ul class="menu bg-base-200 min-h-full w-80">
  <li class="menu-item"><a href="/">Ĉefpaĝo</a></li>
  <!-- Sidebar content here -->
  {% for top_page in site.root_page.get_children.live.in_menu %}
    {% with sub_pages=top_page.get_children.live.in_menu %}
    <li class="menu-item">
      <a href="{% pageurl top_page %}" class="{% if_current top_page 'menu-active' %}">
        {{ top_page.title }}
      </a>
      {% if sub_pages %}<ul>{% endif %}
      {% for sub_page in sub_pages %}
        <li><a href="{% pageurl sub_page %}" class="{% if_current sub_page 'menu-active' %}">{{ sub_page.title }}</a></li>
      {% endfor %}
      {% if sub_pages %}</ul>{% endif %}
    </li>
    {% endwith %}
  {% endfor %}
  <li class="menu-item"><a href="https://uea.org">UEA</a></li>
  <li class="menu-item"><a href="https://iik.uea.org/2025/">Infana Kongreseto</a></li>
</ul>

