/* === COUNTDOWN === */

@keyframes line-anime {
  to {
    stroke-dashoffset: 0
  }
}

@keyframes toTopFromBottom {
  49% {
    transform: translateY(-50%)
  }

  50% {
    opacity: 0;
    transform: translateY(50%)
  }

  51% {
    opacity: 1
  }
}

.drawer-side {
  .menu {
    @apply divide-y divide-stone-200;

    .menu-item {
      @apply font-bold p-2;
    }
  }
}

.countdown-wrap-layout {
  @apply max-w-[600px] lg:max-w-[1300px] mx-auto text-white rounded-none md:rounded-[4em] lg:rounded-full bg-info;

  .countdown-container {
    @apply flex items-center justify-around w-full;
  }

  .countdown-heading {
    @apply mx-6 my-4 lg:my-10
  }

  .event-countdown {
    @apply flex mb-8 my-4 lg:my-10 w-full lg:w-2/3;
  }

  .countdown-section {
    @apply grow text-center relative inline-block;

    &::before {
      content: "";
      transform: translateY(-50%) rotate(9deg);
      @apply bg-white w-px h-18 absolute right-0 top-1/2;
    }

    &:last-child::before {
      display: none;
    }

    .value {
      @apply text-xl lg:text-4xl font-bold
    }

    .unit {
      @apply mt-2 text-sm md:text-xl font-medium
    }
  }
}
