/* === NAVIGATION === */

#navbar {
  @apply z-1 text-base-content sticky top-0 flex h-24 w-full justify-center transition-colors duration-300 print:hidden;

  .menu-btn {
    @apply btn-lg btn-ghost bg-base-100/50 border-base-300;
  }
}
