/* === PERKS === */

.uk-perks {
  .responsive-object {
    position: relative;

    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .perk {
    transition: background .3s,
      border .3s,
      border-radius .3s,
      box-shadow .3s,
      transform .4s;

    .info-box {
      background-color: #fff;
      @apply relative rounded-md z-1 px-[30px] py-[75px];

      &.secondary::before {
        @apply bg-secondary;
      }

      &.info::before {
        @apply bg-info;
      }

      &.success::before {
        @apply bg-success;
      }

      &.warning::before {
        @apply bg-warning;
      }

      &::before {
        content: "";
        height: 4px;
        width: 100%;
        bottom: 0;
        left: 0;
        border-radius: 0 0 5px 5px;
        transition: all .3s ease-in-out;
        @apply absolute -z-1;
      }

      &:hover::before {
        height: 100%;
        border-radius: 5px;
      }

      &::after {
        content: "";
        background-color: #fff;
        bottom: 0;
        left: 0;
        right: 0;
        height: 4px;
        border-radius: 0 0 5px 5px;
        width: 0;
        margin: 0 auto;
        transition: all .2s ease-in-out;
        @apply absolute z-2;
      }

      &:hover::after {
        width: 100%;
        transition: all .5s ease-in-out;
      }

      .icon-box {
        overflow: hidden;
        line-height: 1;
        transition: all .5s cubic-bezier(.7, 0, .3, 1);
        @apply inline-block mb-3 text-[70px];

        i {
          transition: all .2s ease-in-out;
        }
      }

      .description {
        transition: all .3s ease-in-out;
      }

      &:hover {

        .title,
        .description {
          @apply text-white;
        }

        .icon-box i {
          animation: toTopFromBottom .5s forwards;
          @apply text-white;
        }
      }
    }
  }
}
