/* === TIMELINE === */

.tl {
  @apply md:max-w-[80vw] mx-auto px-4 md:px-12 py-24;

  &::before {
    /* vertical bar for timeline */
    @apply hidden md:block absolute bg-base-200 left-1/2 top-80 w-[2px];
    content: "";
    height: calc(100% - 20rem);
    transform: translateX(-50%);
  }

  .day {
    @apply gap-22 flex relative mb-6 items-center justify-evenly;

    &:nth-child(odd) {
      @apply md:text-right md:flex-row-reverse;

      &::before {
        right: 50%;
        margin-right: -10px;
      }

      .info-box::before {
        @apply -right-[20px] border-l-20 border-l-primary-content/20;
      }
    }

    &:nth-child(even) {

      flex-direction: right;

      &::before {
        left: 50%;
        margin-left: -10px;
      }

      .info-box::before {
        @apply -left-[20px] border-r-20 border-r-primary-content/20;
      }

      .heading-box {
        @apply flex-row-reverse;
      }
    }

    &::before {
      @apply hidden md:block;
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #EBEAEA;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      &::before {
        background-color: var(--color-primary);
      }

      &:nth-child(odd) {
        .info-box::before {
          @apply border-l-primary;
        }
      }

      &:nth-child(even) {
        .info-box::before {
          @apply border-r-primary;
        }
      }

      .heading-box {
        .day-of-week {
          @apply text-base-100 bg-primary;
        }
      }

      .day-of-week {
        @apply text-base-100 bg-primary;
      }

      .info-box {
        background-color: var(--color-primary);
      }

      .title,
      .description {
        color: white;
      }
    }

    .heading-box {
      @apply hidden md:flex;
      width: 50%;
      padding: 0 64px;

      .day-of-week {
        @apply hidden md:block px-6 py-2 rounded-xl text-2xl text-center font-bold;
        @apply text-primary bg-primary-content;
        transition: all 0.3s ease-in-out;
      }
    }

    .info-box {
      @apply flex-1 rounded-2xl relative bg-primary-content/20 p-12;
      transition: all 0.3s ease-in-out;


      &::before {
        @apply hidden md:block absolute w-0 h-0 top-1/2;
        content: "";
        transform: translateY(-50%);
        transition: all 0.3s ease-in-out;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
      }

    }

    .time {
      @apply my-4 px-6 py-2 rounded-xl text-primary bg-primary-content inline-flex font-medium text-lg;
    }

    .title {
      @apply font-semibold text-info-content text-3xl;
      line-height: 34px;
      transition: all 0.3s ease-in-out;
      margin-bottom: 0.8em;
    }

    .description {
      font-size: 1.2em;
    }
  }
}