@import "tailwindcss" source(none);
@source "../**/templates/**/*.{html,txt}";
@source "../{apps,config}/**/*.py";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cmyk;
  /* HACK properties: https://github.com/saadeghi/daisyui/issues/3882#issuecomment-3382480890  */
  exclude: properties;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: light;
  --color-primary: oklch(45.7% 0.299 269.0);
  --color-secondary: oklch(59.9% 0.242 22.5);
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: dark;
  --color-primary: oklch(45.7% 0.299 269.0);
  --color-secondary: oklch(59.9% 0.242 22.5);
}

@custom-variant dark (&:where(.dark, .dark *));

@layer theme {

  :root,
  :host {
    --font-sans: Raleway, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}

@import "./css/about.css";
@import "./css/navigation.css";
@import "./css/countdown.css";
@import "./css/perks.css";
@import "./css/photoswipe.css";
@import "./css/presentation.css";
@import "./css/timeline.css";
@import "./css/typography.css";