@import "tailwindcss" source(none);
@source "../**/templates/**/*.{html,txt}";
@source "../{apps,config}/**/*.py";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cmyk;
  /* HACK https://github.com/saadeghi/daisyui/issues/3882#issuecomment-3382480890  */
  exclude: properties;
}

@keyframes line-anime {
  to {
    stroke-dashoffset: 0
  }
}

@keyframes toTopFromBottom {
  49% {
    transform: translateY(-50%)
  }

  50% {
    opacity: 0;
    transform: translateY(50%)
  }

  51% {
    opacity: 1
  }
}

@custom-variant dark (&:where(.dark, .dark *));

.drawer-side {
  .menu {
    @apply divide-y divide-stone-200;

    .menu-item {
      @apply font-bold p-2;
    }
  }
}

.countdown-wrap-layout {
  @apply max-w-[600px] lg:max-w-[1300px] mx-auto text-white rounded-none md:rounded-[4em] lg:rounded-full bg-info;

  .countdown-container {
    @apply flex items-center justify-around w-full;
  }

  .countdown-heading {
    @apply mx-6 my-4 lg:my-10
  }

  .event-countdown {
    @apply flex mb-8 my-4 lg:my-10 w-full lg:w-2/3;
  }

  .countdown-section {
    @apply grow text-center relative inline-block;

    &::before {
      content: "";
      transform: translateY(-50%) rotate(9deg);
      @apply bg-white w-px h-18 absolute right-0 top-1/2;
    }

    &:last-child::before {
      display: none;
    }

    .value {
      @apply text-xl lg:text-4xl font-bold
    }

    .unit {
      @apply mt-2 text-sm md:text-xl font-medium
    }
  }
}

.uk-presentation {
  .figures {
    @apply relative;

    .main-image {
      border-radius: 0 40px 258px 36px;
    }

    .sub-figures {
      ul {
        @apply list-none;

        li {
          @apply absolute;

          &:nth-child(n) {
            @apply max-w-[20vw] top-[10%] right-[-60px];
          }

          &:nth-child(2n) {
            @apply max-w-[28vw] top-[34%] right-[-68px];
          }

          &:nth-child(3n) {
            @apply max-w-[38vw] top-[64%] right-[-40px];
          }

          img {
            @apply rounded-full;

          }

          &:nth-child(1) img,
          &:nth-child(3) img {
            @apply border-5 border-warning;
          }

          &:nth-child(2) img {
            @apply border-5 border-info;
          }
        }
      }
    }
  }

  article {
    h4:first-of-type {
      @apply text-error;
    }
  }
}

.uk-perks {
  .responsive-object {
    position: relative;

    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .perk {
    transition: background .3s,
      border .3s,
      border-radius .3s,
      box-shadow .3s,
      transform .4s;

    .info-box {
      background-color: #fff;
      @apply relative rounded-md z-1 px-[30px] py-[75px];

      &.secondary::before {
        @apply bg-secondary;
      }

      &.info::before {
        @apply bg-info;
      }

      &.success::before {
        @apply bg-success;
      }

      &.warning::before {
        @apply bg-warning;
      }

      &::before {
        content: "";
        height: 4px;
        width: 100%;
        bottom: 0;
        left: 0;
        border-radius: 0 0 5px 5px;
        transition: all .3s ease-in-out;
        @apply absolute -z-1;
      }

      &:hover::before {
        height: 100%;
        border-radius: 5px;
      }

      &::after {
        content: "";
        background-color: #fff;
        bottom: 0;
        left: 0;
        right: 0;
        height: 4px;
        border-radius: 0 0 5px 5px;
        width: 0;
        margin: 0 auto;
        transition: all .2s ease-in-out;
        @apply absolute z-2;
      }

      &:hover::after {
        width: 100%;
        transition: all .5s ease-in-out;
      }

      .icon-box {
        overflow: hidden;
        line-height: 1;
        transition: all .5s cubic-bezier(.7, 0, .3, 1);
        @apply inline-block mb-3 text-[70px];

        i {
          transition: all .2s ease-in-out;
        }
      }

      .description {
        transition: all .3s ease-in-out;
      }

      &:hover {

        .title,
        .description {
          @apply text-white;
        }

        .icon-box i {
          animation: toTopFromBottom .5s forwards;
          @apply text-white;
        }
      }
    }
  }
}

.uk-about {
  .title {
    @apply text-4xl font-bold;
  }

  .event-map {
    @apply relative w-full lg:w-6/7 mx-auto;

    iframe {
      @apply h-[50vh] md:h-[660px];
    }

    .address-box {
      padding: 60px 54px;
      @apply md:absolute start-4 md:start-32 md:top-42 bg-blue-700 text-white md:rounded-[50px] md:rounded-tl-none;

      h2,
      h3,
      h4 {
        @apply text-2xl font-bold mb-3;
      }

      ul>li {
        @apply relative ps-8 text-xl font-bold mt-8 mb-2;

        &::before {
          /* fa-circle */
          content: "\f111";
          font-family: "Font Awesome 6 Free";
          @apply absolute start-0 top-0 font-semibold text-xs text-white mt-2;
        }

        &>a::after {
          /* fa-arrow-right */
          content: "\f061";
          font-family: "Font Awesome 6 Free";
          @apply font-semibold text-white ms-4;
        }
      }

      p {
        @apply ps-8 text-xl;
      }
    }
  }

  .subtitle {
    @apply text-xl uppercase;
  }
}

.fact {
  .title {
    @apply text-2xl font-bold;
  }

  .description {
    @apply text-lg text-base-content/70;
  }
}

.photoswipe {
  @apply mb-8;

  img {
    @apply w-full;
  }

}