@import "tailwindcss" source(none);
@source "../**/templates/**/*.{html,txt}";
@source "../{apps,config}/**/*.py";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cmyk;
  /* HACK properties: https://github.com/saadeghi/daisyui/issues/3882#issuecomment-3382480890  */
  exclude: properties;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: light;
  --color-primary: oklch(45.7% 0.299 269.0);
  --color-secondary: oklch(59.9% 0.242 22.5);
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: dark;
  --color-primary: oklch(45.7% 0.299 269.0);
  --color-secondary: oklch(59.9% 0.242 22.5);
}

@layer theme {

  :root,
  :host {
    --font-sans: Raleway, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}


/* === TYPOGRAPY === */

.heading-title {
  @apply text-center font-bold text-info-content text-4xl my-12;
}



/* === COUNTDOWN === */

@keyframes line-anime {
  to {
    stroke-dashoffset: 0
  }
}

@keyframes toTopFromBottom {
  49% {
    transform: translateY(-50%)
  }

  50% {
    opacity: 0;
    transform: translateY(50%)
  }

  51% {
    opacity: 1
  }
}

@custom-variant dark (&:where(.dark, .dark *));

.drawer-side {
  .menu {
    @apply divide-y divide-stone-200;

    .menu-item {
      @apply font-bold p-2;
    }
  }
}

.countdown-wrap-layout {
  @apply max-w-[600px] lg:max-w-[1300px] mx-auto text-white rounded-none md:rounded-[4em] lg:rounded-full bg-info;

  .countdown-container {
    @apply flex items-center justify-around w-full;
  }

  .countdown-heading {
    @apply mx-6 my-4 lg:my-10
  }

  .event-countdown {
    @apply flex mb-8 my-4 lg:my-10 w-full lg:w-2/3;
  }

  .countdown-section {
    @apply grow text-center relative inline-block;

    &::before {
      content: "";
      transform: translateY(-50%) rotate(9deg);
      @apply bg-white w-px h-18 absolute right-0 top-1/2;
    }

    &:last-child::before {
      display: none;
    }

    .value {
      @apply text-xl lg:text-4xl font-bold
    }

    .unit {
      @apply mt-2 text-sm md:text-xl font-medium
    }
  }
}

.uk-presentation {
  .figures {
    @apply relative;

    .main-image {
      border-radius: 0 40px 258px 36px;
    }

    .sub-figures {
      ul {
        @apply list-none;

        li {
          @apply absolute;

          &:nth-child(n) {
            @apply max-w-[20vw] top-[10%] right-[-60px];
          }

          &:nth-child(2n) {
            @apply max-w-[28vw] top-[34%] right-[-68px];
          }

          &:nth-child(3n) {
            @apply max-w-[38vw] top-[64%] right-[-40px];
          }

          img {
            @apply rounded-full;

          }

          &:nth-child(1) img,
          &:nth-child(3) img {
            @apply border-5 border-warning;
          }

          &:nth-child(2) img {
            @apply border-5 border-info;
          }
        }
      }
    }
  }

  article {
    h4:first-of-type {
      @apply text-error;
    }
  }
}

.uk-perks {
  .responsive-object {
    position: relative;

    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .perk {
    transition: background .3s,
      border .3s,
      border-radius .3s,
      box-shadow .3s,
      transform .4s;

    .info-box {
      background-color: #fff;
      @apply relative rounded-md z-1 px-[30px] py-[75px];

      &.secondary::before {
        @apply bg-secondary;
      }

      &.info::before {
        @apply bg-info;
      }

      &.success::before {
        @apply bg-success;
      }

      &.warning::before {
        @apply bg-warning;
      }

      &::before {
        content: "";
        height: 4px;
        width: 100%;
        bottom: 0;
        left: 0;
        border-radius: 0 0 5px 5px;
        transition: all .3s ease-in-out;
        @apply absolute -z-1;
      }

      &:hover::before {
        height: 100%;
        border-radius: 5px;
      }

      &::after {
        content: "";
        background-color: #fff;
        bottom: 0;
        left: 0;
        right: 0;
        height: 4px;
        border-radius: 0 0 5px 5px;
        width: 0;
        margin: 0 auto;
        transition: all .2s ease-in-out;
        @apply absolute z-2;
      }

      &:hover::after {
        width: 100%;
        transition: all .5s ease-in-out;
      }

      .icon-box {
        overflow: hidden;
        line-height: 1;
        transition: all .5s cubic-bezier(.7, 0, .3, 1);
        @apply inline-block mb-3 text-[70px];

        i {
          transition: all .2s ease-in-out;
        }
      }

      .description {
        transition: all .3s ease-in-out;
      }

      &:hover {

        .title,
        .description {
          @apply text-white;
        }

        .icon-box i {
          animation: toTopFromBottom .5s forwards;
          @apply text-white;
        }
      }
    }
  }
}

.uk-about {
  .title {
    @apply text-4xl font-bold;
  }

  .event-map {
    @apply relative w-full lg:w-6/7 mx-auto;

    iframe {
      @apply h-[50vh] md:h-[660px];
    }

    .address-box {
      padding: 60px 54px;
      @apply md:absolute start-4 md:start-32 md:top-42 bg-blue-700 text-white md:rounded-[50px] md:rounded-tl-none;

      h2,
      h3,
      h4 {
        @apply text-2xl font-bold mb-3;
      }

      ul>li {
        @apply relative ps-8 text-xl font-bold mt-8 mb-2;

        &::before {
          /* fa-circle */
          content: "\f111";
          font-family: "Font Awesome 6 Free";
          @apply absolute start-0 top-0 font-semibold text-xs text-white mt-2;
        }

        &>a::after {
          /* fa-arrow-right */
          content: "\f061";
          font-family: "Font Awesome 6 Free";
          @apply font-semibold text-white ms-4;
        }
      }

      p {
        @apply ps-8 text-xl;
      }
    }
  }

  .subtitle {
    @apply text-xl uppercase;
  }
}

.fact {
  .title {
    @apply text-2xl font-bold;
  }

  .description {
    @apply text-lg text-base-content/70;
  }
}

.vertical-timeline {
  @apply md:max-w-[80vw] mx-auto px-4 md:px-12 py-24;

  &::before {
    /* vertical bar for timeline */
    @apply hidden md:block;
    content: '';
    position: absolute;
    left: 50%;
    background-color: #e6e6e6;
    transform: translateX(-50%);
    top: 20rem;
    width: 2px;
    height: calc(100% - 20rem);
  }

  .event {
    gap: 80px;
    display: flex;
    position: relative;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-evenly;

    &:nth-child(odd) {
      @apply md:text-right md:flex-row-reverse;

      &::before {
        right: 50%;
        margin-right: -10px;
      }

      .info-box::before {
        right: -20px;
        border-left: 20px solid #F9F9F9;
      }
    }

    &:nth-child(even) {

      flex-direction: right;

      &::before {
        left: 50%;
        margin-left: -10px;
      }

      .info-box::before {
        left: -20px;
        border-right: 20px solid #F9F9F9;
      }

      .heading-box {
        @apply flex-row-reverse;
      }
    }

    &::before {
      @apply hidden md:block;
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #EBEAEA;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      &::before {
        background-color: var(--color-primary);
      }

      &:nth-child(odd) {
        .info-box::before {
          border-left: 20px solid var(--color-primary);
        }
      }

      &:nth-child(even) {
        .info-box::before {
          border-right: 20px solid var(--color-primary);
        }
      }

      .info-box {
        background-color: var(--color-primary);
      }

      .title,
      .description {
        color: white;
      }
    }

    .heading-box {
      @apply hidden md:flex;
      width: 50%;
      padding: 0 64px;

      .number {
        @apply hidden md:block;

        font-size: 2rem;
        width: 56px;
        height: 56px;
        line-height: 56px;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: white;
        text-align: center;
        font-weight: bold;
      }
    }

    .info-box {
      background-color: #f7f9ff;
      padding: 45px 40px 40px;
      border-radius: 10px;
      position: relative;
      transition: all 0.3s ease-in-out;
      flex: 1;

      &::before {
        @apply hidden md:block;
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        transition: all 0.3s ease-in-out;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
      }

    }

    .time {
      color: var(--color-primary);
      background-color: #E1E8FF;
      display: inline-flex;
      align-items: center;
      padding: 7px 20px;
      border-radius: 5px;
      margin-bottom: 5px;
      font-size: 16px;
      font-weight: 500;
    }

    .title {
      font-weight: 600;
      margin-bottom: 5px;
      color: #041A57;
      font-size: 26px;
      line-height: 34px;
      transition: all 0.3s ease-in-out;
      margin-top: 0.3em;
      margin-bottom: 0.8em;
    }
  }

  .description {
    font-size: 1.2em;
  }

}

.photoswipe {
  @apply mb-8;

  img {
    @apply w-full;
  }

}
