name: Docker Image Build and Push

on:
  push:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    environment: production
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate Commit Hash Tag
        id: commit_tag_gen
        run: |
          echo "SHORT_COMMIT_HASH_TAG=$(git rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"
          echo "COMMIT_HASH_TAG=${{ github.sha }}" >> "$GITHUB_OUTPUT"

      - name: Generate Date Tag
        id: date_tag_gen
        run: |
          echo "DATE_TAG=$(date +'%Y-%m-%d')" >> "$GITHUB_OUTPUT"

      - name: Build and push Docker image
        id: docker-build
        uses: docker/build-push-action@v6
        env:
          ASSET_DIR: /app/apps/registration/static/vue
          APP_PREFIX: PREFIX_
          PREFIX_API_URL: ${{ vars.VITE_API_URL }}
          PREFIX_STRIPE_PUBLISHABLE_KEY: ${{ secrets.VITE_STRIPE_PUBLISHABLE_KEY }}
        with:
          context: .
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          target: production
          build-args: |
            GIT_COMMIT=${{ github.sha }}
            GIT_BRANCH=${{ github.ref_name }}
            VITE_OUT_DIR=apps/registration/static/vue
          tags: |
            ghcr.io/${{ github.repository }}/django:latest
            ghcr.io/${{ github.repository }}/django:${{ steps.date_tag_gen.outputs.DATE_TAG }}
            ghcr.io/${{ github.repository }}/django:${{ steps.commit_tag_gen.outputs.COMMIT_HASH_TAG }}
            ghcr.io/${{ github.repository }}/django:${{ steps.commit_tag_gen.outputs.SHORT_COMMIT_HASH_TAG }}
